
<!-- Footer -->
<footer class="page-footer cyan darken-3">
  <p>We are always happy to server you with healthy and tasty dishes!</p>

<!-- Footer Elements -->
<div class="container">

  </div>
  <!-- Grid row-->

</div>
<!-- Footer Elements -->

  <!-- Copyright -->
  <div class=" footer-copyright text-center py-3">© 2022 Project by Lighthouse Labs Students
  </div>

</footer>
<!-- Footer -->
