<!DOCTYPE html>
<html lang="en">

<head>
  <title>Foodie</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
   
    <h1>Order Confirmation</h1>

    <div class="menu_display">
      <div class="aside"><img class="user" src="ITEM IMAGE" /></div>
      <div class="menu_info">
        <p class="item-name">ITEM NAME: Dish1</p>
        <p class="item-price">ITEM PRICE: $10</p>
      </div>
      <label class="display" data-product-id="" id="">Quantity: 3</label>
       
    </div>

    <div class="menu_display">
      <div class="aside"><img class="user" src="ITEM IMAGE" /></div>
      <div class="menu_info">
        <p class="item-name">ITEM NAME: Dish2</p>
        <p class="item-price">ITEM PRICE: $20</p>
      </div>
      <label class="display" data-product-id="" id="">Quantity: 2</label>
      </div>

    <div class="menu_display">
      <div class="col">
        <p id="totalprice"><strong>Order Total : $200 </strong></p>
      </div>
     </div>
</body>

</html>