// checkout page
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #eeeeee;
  font-family: 'Open Sans', serif
}

.container {
  margin-top: 100px;
  margin-bottom: 50px;

}


.img-sm {
  width: 120px;
  height: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  flex-direction: row


}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}

.itemside .title {
  margin-bottom: 5px;
  width: 120px;
  height: 100px;
  color: #212529;

}

p {
  margin-top: 0;
  margin-bottom: 1rem
}


.btn-warning {
  color: #ffffff;
  background-color: #fb3;
  border-color: #fb3;
  border-radius: 1px
}
   
.btn-warning:hover {
  color: #ffffff;
  background-color: #fb3;
  border-color: #fb3;
  border-radius: 1px
}
