// checkout page
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  margin-top: 0;
  // background-color: #eeeeee;
  font-family: "Open Sans", serif;
}

.menu_display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: 600;

  justify-content: center;
  align-items: center;
}

.user {
  width: 10%;
  height: 10%;
  margin: 20px;
}

.finalise {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 600;

  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  font-weight: 600;

  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.img-sm {
  width: 120px;
  height: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  flex-direction: row;
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}

.itemside .title {
  margin-bottom: 5px;
  width: 120px;
  height: 100px;
  color: #212529;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
