body {
  background-image: url("/images/homebackground.jpg") !important  ;
  background-size: 100vw 100vh !important;
}

.index {
  border: 5px solid #9f3805;
  border-radius: 15px;

  h2 {
    font-size: 2.5vw;
    color: rgb(121, 7, 112);
    font-stretch: ultra-expanded;
    font-weight: 600;
  }
  p {
    font-size: 2vw;
  }
}
