.menuform {
  margin-left: 0;
  width: 60%;
}

.menu {
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: none;
  position: relative;
  margin: 0;
  -webkit-margin-before: 1.33em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user {
    width: 80%;
    height: 80%;
    margin: 20px;
  }

  .restimages {
    width: 60%;
    height: 60%;
    margin: 20px;
  }


  .menut {
    align-items: center;
  }

  .menu_display {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 400px;
    margin: 0.5em;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 600;
  }

  .menu-info-and-button {
    display: flex;
    justify-content: space-between;
    background-size: 100%;
    width: 600px;
    height: 400px;
    margin: 20px;
  }

  .menu_info {
    display: flex;
    flex-direction: column;
  }

  button {
    text-align: center;
    text-decoration: none;
    display: list-item;
    margin: 0;
    cursor: pointer;
    border-radius: 16px;
    width: 180px;
    height: 70px;
  }

  .add-to-cart {
    cursor: pointer;
    width: 90px;
    height: 50px;
    margin-left: 100px;
    margin-top: 0;

    &:hover {
      border: 1px solid rgb(243, 214, 171);
      text-decoration: none;
    }
  }
}
.container-full {
  width: 100%;
}
.menu-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 20rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: #f5f5dc;
    margin: 0 3rem;
  }
}
.item-name {
  display: block;
  font-size: 150%;
  font-weight: 600;
  margin-top: 5px;
  // text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}
