.navbar {
  height: 70px;
  width: 100%;
  background-color: #9f3805;
  color: #ffffff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-logo {
  object-position: center;
  color: #ffff00;
  font-weight: 600;
  }

  
}